body {
	width: 9in;
	font-family: "Helvetica", "Bitstream Charter", "Times New Roman";
}
h1 {
	font-variant: small-caps;
	text-transform: uppercase;
	font-size:medium;
	font-weight:bold;
	margin-bottom:0px;
}
header {
	text-align:center;
	margin-bottom:1.5em;
}
.split {
	width:100%;
}
.split > div {
	display: inline-block;
	width:50%;
	text-align:right;
}
.split > div:first-child {
	text-align:left;
}
td {
	padding-right:10px;
}
ul {
	margin-top:0px;
}
.technical td:first-child {
	padding-left:0px;
}
section {
	margin-bottom:1.5em;
}
.email {
	unicode-bidi:bidi-override;
	direction:rtl;
}
