---
---
<!DOCTYPE html>
<head>
<title>Khoa Tran's Resume</title>
<link rel="stylesheet" href="default.css" media="screen"/>
<link rel="stylesheet" href="web.css" media="screen"/>
<link rel="stylesheet" href="print.css" media="print"/>

<script type="text/javascript">
function to_octal(str)
{
	var octalized = new Array();
	for (var i = 0; i < str.length; ++i)
	{
		octalized.push(str.charCodeAt(i).toString(8));
	}
	return octalized.join(" ");
}

function from_octal(octs)
{
	var str = "";
	var octals = octs.split(" ")
	// forEach does not work in IE 7 + 8, &*$#^
	for (var i = 0; i < octals.length; ++i)
	{
		str += String.fromCharCode(parseInt(octals[i], 8));
	}
	return str;
}

function buildmailto()
{
	var email = from_octal("153 150 157 141 164 162 141 156 100 142 145 162 153 145 154 145 171 56 145 144 165");
	return "<a href='mailto:" + email + "'>" + email +"</a>";
}

// fix for IE 8 and below. This helps create the DOM properly. See:
// http://blog.whatwg.org/supporting-new-elements-in-ie#comment-40743
document.createElement("header");
document.createElement("section"); 
</script>
</head>
<body>
<header>
	<h1>Khoa Q.D. Tran</h1>
	<div>{% include contact.html %}</div>
	<div><a href="https://github.com/kqdtran">github.com/kqdtran</a> &#x2022; <a href="http://www.ocf.berkeley.edu/~kqdtran/">ocf.berkeley.edu/~kqdtran</a></div>
</header>

<section id="education">
	<h1><b>Education</b></h1>
	<div class="split">
		<div><b>University of California, Berkeley</b></div><div>Fall 2012 - Present</div>
	</div> 
    <div>Bachelor of Arts, Computer Science. In-major GPA: 3.70</div>
    <div>Expected graduation date: <b>May 2014</b></div>
	<br>

	<div class="split">
		<div><b>Monterey Peninsula College</b></div><div>Fall 2010 - Summer 2012</div>
	</div>
	<div>Associate of Arts, Computer Science and Mathematics. GPA: 4.00</div>
</section>

<section id="coursework">
	<h1>Relevant Coursework</h1>
	<table class="technical">
		<tr>
			<td>Data Structures</td>
			<td>Structures and Interpretations of Computer Programs</td>
		</tr>
		<tr>
			<td>Discrete Mathematics</td>
			<td>Probability and Risk Analysis for Engineers</td>
		</tr>
		<tr>
			<td>Machine Structures</td>
			<td>Commercial and Industrial Data Systems <em>(In Progress)</em></td>
		</tr>
		<tr>
			<td>Algorithms <em>(In Progress)</em></td>
			<td>Intro to Digital Electronics <em>(In Progress)</em></td>
		</tr>
	</table>
</section>

<section id="experience">
	<h1>Experience</h1>
	<div class="entry">
		<div class="split">
			<div><strong>Content Developer</strong></div><div>February 2013 - Present</div>
		</div>
		<div>
			<em>Mathapedia Research Group, EECS Department, UC Berkeley</em>
		</div>
	</div>

	<div class="entry">
		<div class="split">
			<div><strong>Reader/Grader</strong></div><div>February 2013 - Present</div>
		</div>
		<div>
			<em>Computer Science 70, EECS Department, UC Berkeley</em>
			<ul>
				<li class="item">Grade weekly problem sets for students in CS 70, Discrete Mathematics</li>
				<li class="item">Hold office hours and go over graded problem sets with students</li>
			</ul>
		</div>
	</div>

	<div class="entry">
		<div class="split">
			<div><strong>Research Apprentice</strong></div><div>September 2012 - December 2012</div>
		</div>
		<div>
			<em>Knight Lab, Helen Wills Neuroscience Institute, UC Berkeley</em>
			<ul>
				<li>Conducted research on neural signals using Matlab and eye tracking system</li>
			</ul>
		</div>
	</div>

	<div class="entry">
		<div class="split">
			<div><strong>Calculus Tutor</strong></div><div>June 2012 - August 2012</div>
		</div>
		<div>
			<em>Math Tutoring Center, Monterey Peninsula College</em>
			<ul>
				<li>Provided one-on-one and in-group tutoring to 10+ students taking Calculus 1 and 2</li>
			</ul>
		</div>
	</div>
</section>

<section id="projects">
	<h1>Projects</h1>
	<div class="entry">
		<div class="split">
			<div><strong>Ninja Scraper</strong></div><div>Python</div>
		</div>
		<div>
			<ul>
				<li>Scraper that automatically downloaded all past exams for a selected course</li>
			</ul>
		</div>
	</div>

	<div class="entry">
		<div class="split">
			<div><strong>Database Design Project</strong></div><div>MS Access, SQL</div>
		</div>
		<div>
			<ul>
				<li class="item">Design and develop a relational database system for <a href="http://www.projectjuice.com/">Project Juice</a>, an SF-based startup, in a group of 8 students.</li>
				<li class="item">Develop and maintain the <a href="http://www.ocf.berkeley.edu/~kqdtran/ieor115/proposal">group's website</a> for presentation purpose</li>
			</ul>
		</div>
	</div>

	<div class="entry">
		<div class="split">
			<div><strong>Plagiarism Detection Program</strong></div><div>Java</div>
		</div>
		<div>
			<ul>
				<li>Plagiarism detector that checked for similarities among homework submissions in an Introductory Programming class</li>
			</ul>
		</div>
	</div>
</section>

<section id="technical">
	<h1>Technical Skills</h1>
	<div class="entry">
		<div><strong>Programming</strong></div>
		<div>
			<ul>
				<li><em>Proficient</em>: Java; Python</li>
				<li><em>Working Knowledge</em>: C/C++; Scheme; HTML/CSS; SQL</li>
				<li><em>Some Experience</em>: JavaScript; Scala; SML; MIPS Assembly; Matlab; Hadoop</li>
			</ul>
		</div>
	</div>

	<div class="entry">
		<div><strong>Operating Systems and Software Tools</strong></div>
		<div>
			<ul>
				<li>Ubuntu; Mac OSX; Windows 7/XP</li>
				<li>Git; Visual Studio; Eclipse; Emacs; LaTeX/LyX</li>
			</ul>
		</div>
	</div>
</section>
</body>
